<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ChatDisplay</servlet-name>
        <servlet-class>Aplicacion.ChatDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginChat</servlet-name>
        <servlet-class>Aplicacion.LoginChat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginDisplay</servlet-name>
        <servlet-class>Aplicacion.LoginDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterDisplay</servlet-name>
        <servlet-class>Aplicacion.RegisterDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatServlet</servlet-name>
        <servlet-class>Aplicacion.ChatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterChat</servlet-name>
        <servlet-class>Aplicacion.RegisterChat</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChatDisplay</servlet-name>
        <url-pattern>/ChatDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginChat</servlet-name>
        <url-pattern>/LoginChat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginDisplay</servlet-name>
        <url-pattern>/LoginDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterDisplay</servlet-name>
        <url-pattern>/RegisterDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatServlet</servlet-name>
        <url-pattern>/ChatServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterChat</servlet-name>
        <url-pattern>/RegisterChat</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
