<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>ChatDisplay</servlet-name>
        <servlet-class>Aplicacion.ChatDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginChat</servlet-name>
        <servlet-class>Aplicacion.LoginChat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginDisplay</servlet-name>
        <servlet-class>Aplicacion.LoginDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterDisplay</servlet-name>
        <servlet-class>Aplicacion.RegisterDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatServlet</servlet-name>
        <servlet-class>Aplicacion.ChatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterChat</servlet-name>
        <servlet-class>Aplicacion.RegisterChat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>Aplicacion.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewersServlet</servlet-name>
        <servlet-class>Aplicacion.ViewersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExceptionHandler</servlet-name>
        <servlet-class>Aplicacion.ExceptionHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordResetServlet</servlet-name>
        <servlet-class>Aplicacion.PasswordResetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordResetDisplay</servlet-name>
        <servlet-class>Aplicacion.PasswordResetDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartUpServlet</servlet-name>
        <servlet-class>Aplicacion.StartUpServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ChatServletAdmin</servlet-name>
        <servlet-class>Aplicacion.ChatServletAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatDisplayAdmin</servlet-name>
        <servlet-class>Aplicacion.ChatDisplayAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Aplicacion.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatDisplayNoLoggeadoServlet</servlet-name>
        <servlet-class>Aplicacion.ChatDisplayNoLoggeadoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChatDisplay</servlet-name>
        <url-pattern>/ChatDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginChat</servlet-name>
        <url-pattern>/LoginChat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginDisplay</servlet-name>
        <url-pattern>/LoginDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterDisplay</servlet-name>
        <url-pattern>/RegisterDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatServlet</servlet-name>
        <url-pattern>/ChatServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterChat</servlet-name>
        <url-pattern>/RegisterChat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewersServlet</servlet-name>
        <url-pattern>/ViewersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExceptionHandler</servlet-name>
        <url-pattern>/ExceptionHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordResetServlet</servlet-name>
        <url-pattern>/PasswordResetServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordResetDisplay</servlet-name>
        <url-pattern>/PasswordResetDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartUpServlet</servlet-name>
        <url-pattern>/StartUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatServletAdmin</servlet-name>
        <url-pattern>/ChatServletAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatDisplayAdmin</servlet-name>
        <url-pattern>/ChatDisplayAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatDisplayNoLoggeadoServlet</servlet-name>
        <url-pattern>/ChatDisplayNoLoggeadoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
            D:\temp\images\
        </param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/ExceptionHandler</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/404error.xhtml</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500error.xhtml</location>
    </error-page>
</web-app>
